{% if block.type == "hero" %}
  {% include "builder/blocks/hero.html" with props=block.props %}
{% elif block.type == "richText" %}
  {% include "builder/blocks/rich_text.html" with props=block.props %}
{% elif block.type == "projectGrid" %}
  {% include "builder/blocks/project_grid.html" with props=block.props featured_projects=featured_projects all_projects=all_projects %}
{% elif block.type == "researchList" %}
  {% include "builder/blocks/research_list.html" with props=block.props posts=posts %}
{% elif block.type == "testimonialsGrid" %}
  {% include "builder/blocks/testimonials_grid.html" with props=block.props testimonials=testimonials %}
{% elif block.type == "resumeEmbed" %}
  {% include "builder/blocks/resume_embed.html" with props=block.props resume_url=resume_url %}
{% elif block.type == "pdfEmbed" %}
  {% include "builder/blocks/pdf_embed.html" with props=block.props %}
{% elif block.type == "projectTitle" %}
  {% include "builder/blocks/project_title.html" with props=block.props %}
{% elif block.type == "projectBody" %}
  {% include "builder/blocks/project_body.html" with props=block.props %}
{% elif block.type == "projectMedia" %}
  {% include "builder/blocks/project_media.html" with props=block.props media_asset_map=media_asset_map %}
{% elif block.type == "imageGallery" %}
  {% include "builder/blocks/image_gallery.html" with props=block.props %}
{% elif block.type == "internshipList" %}
  {% include "builder/blocks/internship_list.html" with props=block.props %}
{% elif block.type == "internshipTimeline" %}
  {% include "builder/blocks/internship_timeline.html" with props=block.props %}
{% elif block.type == "internshipTitle" %}
  {% include "builder/blocks/internship_title.html" with props=block.props %}
{% elif block.type == "internshipMeta" %}
  {% include "builder/blocks/internship_meta.html" with props=block.props %}
{% elif block.type == "internshipBody" %}
  {% include "builder/blocks/internship_body.html" with props=block.props %}
{% elif block.type == "contactBlock" %}
  {% include "builder/blocks/contact_block.html" with props=block.props %}
{% else %}
  <div class="alert alert-warning">
    Unknown block type: {{ block.type }}
  </div>
{% endif %}

